.card{
  // border: 1px solid white;

  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  // justify-content: space-between;
  align-content: space-around;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
    &:hover {
        background-color: #616dad;
        cursor: pointer;
      }
}

.card-items {
  width: 90%;
  height: 40%;
  object-fit: "contain";
  flex-basis: auto;



}
